---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <div class="absolute top-1/2 -translate-y-1/2 w-1/2 bg-pink-200 rounded-3xl p-[2%] flex">
        <p class="pop-up text-white text-center font-bold sm:text-[3.5vw] md:text-[2vw]">
            Hola mi amor!, al parecer has estado mucho tiempo en la pantalla
            de bienvenida 😊, dejame ayudarte a salir un momento, porcierto
            te molesta si cambio la musica?
        </p>
       </div>
</Layout>