<!doctype html>
<html lang="en">
	<head>
		<link rel="icon" href="/public/Favicons/J+Y.svg">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Feliz Aniversario ❤️</title>
	</head>
	<body class="flex justify-center">
		<slot />
	</body>
</html>

<style is:global>
	@import "../styles/global.css"
</style>